@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
.bg-lighten-5 {
    background-color: #E3F2FD;
}
.text-lighten-5 {
    color: #E3F2FD;
}
/*
	Definitions for the grid system.
*/
.container {
    margin: 0 auto;
    padding: 0 20px;
}
.row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}
.row + .row {
    margin-top: 10px;
}
[class*='col'],
[class*='offset'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row > [class*='col'],
[class*='offset'], .row[class$='cols'] > * {
    padding: 5px;
}
.row.cols > * {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media screen {
    .mob-1col {
        width: 100%;
    }
    .mob-2col {
        width: 50%;
    }
    .mob-3col {
        width: 33.33333%;
    }
    .mob-4col {
        width: 25%;
    }
    .mob-5col {
        width: 20%;
    }
    .mob-6col {
        width: 16.66667%;
    }
    .mob-7col {
        width: 14.28571%;
    }
    .mob-8col {
        width: 12.5%;
    }
    .mob-9col {
        width: 11.11111%;
    }
    .mob-10col {
        width: 10%;
    }
    .mob-11col {
        width: 9.09091%;
    }
    .mob-12col {
        width: 8.33333%;
    }
    .mob-offset0 {
        margin-left: 0;
    }
    .mob-offset1 {
        margin-left: 8.33333%;
    }
    .mob-offset2 {
        margin-left: 16.66667%;
    }
    .mob-offset3 {
        margin-left: 25%;
    }
    .mob-offset4 {
        margin-left: 33.33333%;
    }
    .mob-offset5 {
        margin-left: 41.66667%;
    }
    .mob-offset6 {
        margin-left: 50%;
    }
    .mob-offset7 {
        margin-left: 58.33333%;
    }
}
@media screen and (min-width: 640px) {
    .tab-1col {
        width: 100%;
    }
    .tab-2col {
        width: 50%;
    }
    .tab-3col {
        width: 33.33333%;
    }
    .tab-4col {
        width: 25%;
    }
    .tab-5col {
        width: 20%;
    }
    .tab-6col {
        width: 16.66667%;
    }
    .tab-7col {
        width: 14.28571%;
    }
    .tab-8col {
        width: 12.5%;
    }
    .tab-9col {
        width: 11.11111%;
    }
    .tab-10col {
        width: 10%;
    }
    .tab-11col {
        width: 9.09091%;
    }
    .tab-12col {
        width: 8.33333%;
    }
    .tab-offset0 {
        margin-left: 0;
    }
    .tab-offset1 {
        margin-left: 8.33333%;
    }
    .tab-offset2 {
        margin-left: 16.66667%;
    }
    .tab-offset3 {
        margin-left: 25%;
    }
    .tab-offset4 {
        margin-left: 33.33333%;
    }
    .tab-offset5 {
        margin-left: 41.66667%;
    }
    .tab-offset6 {
        margin-left: 50%;
    }
    .tab-offset7 {
        margin-left: 58.33333%;
    }
}
@media screen and (min-width: 1248px) {
    .row.lg-cols > * {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        -ms-flex-preferred-size: 0;
    }
    .lg-1col {
        width: 100%;
    }
    .lg-2col {
        width: 50%;
    }
    .lg-3col {
        width: 33.33333%;
    }
    .lg-4col {
        width: 25%;
    }
    .lg-5col {
        width: 20%;
    }
    .lg-6col {
        width: 16.66667%;
    }
    .lg-7col {
        width: 14.28571%;
    }
    .lg-8col {
        width: 12.5%;
    }
    .lg-9col {
        width: 11.11111%;
    }
    .lg-10col {
        width: 10%;
    }
    .lg-11col {
        width: 9.09091%;
    }
    .lg-12col {
        width: 8.33333%;
    }
    .lg-offset0 {
        margin-left: 0;
    }
    .lg-offset1 {
        margin-left: 8.33333%;
    }
    .lg-offset2 {
        margin-left: 16.66667%;
    }
    .lg-offset3 {
        margin-left: 25%;
    }
    .lg-offset4 {
        margin-left: 33.33333%;
    }
    .lg-offset5 {
        margin-left: 41.66667%;
    }
    .lg-offset6 {
        margin-left: 50%;
    }
    .lg-offset7 {
        margin-left: 58.33333%;
    }
}
.font-main, body, html {
    font-family: 'Lato', sans-serif;
}
.font-header, h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}
body, html {
    font-size: 14px;
}
.bg-black {
    background-color: #333;
}
.text-black {
    color: #333;
}
.bg-white {
    background-color: #FFFFFF;
}
.text-white {
    color: #FFFFFF;
}
.bg-pale {
    background-color: #F3F3F5;
}
.text-pale {
    color: #F3F3F5;
}
/*  Typography */
body {
    overflow-x: hidden;
    margin: 0;
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 4.5em;
}
h3 {
    font-size: 4em;
}
h4 {
    font-size: 3.5em;
}
h5 {
    font-size: 3em;
}
a {
    text-decoration: none;
    color: #039be5;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
a:hover {
    color: #039be5;
    text-decoration: underline;
}
.font-l {
    font-size: 1.2em;
}
.font-xl {
    font-size: 1.4em;
}
.font-xxl {
    font-size: 1.6em;
}
.font-s {
    font-size: .7em;
}
.font-bold {
    font-weight: 700;
}
.font-2x {
    font-size: 2em;
}
.font-3x {
    font-size: 3em;
}
.font-thin {
    font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1247px) {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);
}
header.fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
header.fixed + .content {
    margin-top: 110px;
}
.bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.t-center {
    text-align: center;
}
.axis-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.axis-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}
.axis-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
}
.cross-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}
.cross-start {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
}
.cross-end {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
}
.w-100 {
    width: 100%;
}
input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, menu, dir, li, div {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 950px;
    }
}
@media (min-width: 1248px) {
    .container {
        max-width: 1180px;
    }
}
section {
    margin-top: 100px;
    margin-bottom: 100px;
}
@media (max-width: 767px) {
    section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1247px) {
    section {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex1 {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
@media (max-width: 480px) {
    .hamburger {
        max-height: 30px;
    }
    .logo {
        max-height: 50px;
    }
    .hide-on-phone, .nav .links.list.h-list {
        display: none;
    }
    .list.h-list li {
        margin-left: 5px;
    }
    .list.h-list li {
        margin-top: 5px;
    }
    .col-s-mob-12 {
        padding-right: 0;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .hide-on-tablet {
        display: none;
    }
}
@media (min-width: 769px) {
    .hide-on-desktop {
        display: none;
    }
}
.flex-col, .list.rows {
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
}
/*  Lists  */
.list {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.list.rows > li {
    margin-top: 10px;
}
.list.rows.list-spacing-s > li {
    margin-top: 5px;
}
.list.rows.list-spacing-l > li {
    margin-top: 15px;
}
.list.rows.list-spacing-xl > li {
    margin-top: 20px;
}
.list.cols {
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}
.list.cols > li {
    margin-left: 10px;
}
.list.cols.list-spacing-s > {
    margin-left: 5px;
}
.list.cols.list-spacing-l > li {
    margin-left: 15px;
}
.list.cols.list-spacing-xl > li {
    margin-left: 20px;
}
#logo {
    max-height: 80px;
}
/*  Margin and padding classes */
.margin-none.margin-top {
    margin-top: 0;
}
.margin-none.margin-right {
    margin-right: 0;
}
.margin-none.margin-bot {
    margin-bottom: 0;
}
.margin-none.margin-left {
    margin-left: 0;
}
.margin-none.margin-all {
    margin: 0;
}
.margin-s.margin-top {
    margin-top: 5px;
}
.margin-s.margin-right {
    margin-right: 5px;
}
.margin-s.margin-bot {
    margin-bottom: 5px;
}
.margin-s.margin-left {
    margin-left: 5px;
}
.margin-s.margin-all {
    margin: 5px;
}
.margin-md.margin-top {
    margin-top: 10px;
}
.margin-md.margin-right {
    margin-right: 10px;
}
.margin-md.margin-bot {
    margin-bottom: 10px;
}
.margin-md.margin-left {
    margin-left: 10px;
}
.margin-md.margin-all {
    margin: 10px;
}
.margin-l.margin-top {
    margin-top: 15px;
}
.margin-l.margin-right {
    margin-right: 15px;
}
.margin-l.margin-bot {
    margin-bottom: 15px;
}
.margin-l.margin-left {
    margin-left: 15px;
}
.margin-l.margin-all {
    margin: 15px;
}
.margin-xl.margin-top {
    margin-top: 20px;
}
.margin-xl.margin-right {
    margin-right: 20px;
}
.margin-xl.margin-bot {
    margin-bottom: 20px;
}
.margin-xl.margin-left {
    margin-left: 20px;
}
.margin-xl.margin-all {
    margin: 20px;
}
.pad-none.pad-top {
    padding-top: 0;
}
.pad-none.pad-right {
    padding-right: 0;
}
.pad-none.pad-bot {
    padding-bottom: 0;
}
.pad-none.pad-left {
    padding-left: 0;
}
.pad-none.pad-all {
    padding: 0;
}
.pad-s.pad-top {
    padding-top: 5px;
}
.pad-s.pad-right {
    padding-right: 5px;
}
.pad-s.pad-bot {
    padding-bottom: 5px;
}
.pad-s.pad-left {
    padding-left: 5px;
}
.pad-s.pad-all {
    padding: 5px;
}
.pad-md.pad-top {
    padding-top: 10px;
}
.pad-md.pad-right {
    padding-right: 10px;
}
.pad-md.pad-bot {
    padding-bottom: 10px;
}
.pad-md.pad-left {
    padding-left: 10px;
}
.pad-md.pad-all {
    padding: 10px;
}
.pad-l.pad-top {
    padding-top: 15px;
}
.pad-l.pad-right {
    padding-right: 15px;
}
.pad-l.pad-bot {
    padding-bottom: 15px;
}
.pad-l.pad-left {
    padding-left: 15px;
}
.pad-l.pad-all {
    padding: 15px;
}
.pad-xl.pad-top {
    padding-top: 20px;
}
.pad-xl.pad-right {
    padding-right: 20px;
}
.pad-xl.pad-bot {
    padding-bottom: 20px;
}
.pad-xl.pad-left {
    padding-left: 20px;
}
.pad-xl.pad-all {
    padding: 20px;
}
